---
title: Upcoming Conferences
layout: base
confs: 
  - name: CodeMash
    where: Sandusky, OH
    when: Jan 8-11, 2013
    url: http://codemash.org/
    audience: General dev
    cfp: N/A
    who: Charlie
    status: Invited, accepted (2 JVM talks); hotel covered

  - name: FOSDEM
    where: Brussels, Belgium
    when: Feb 2-3, 2013
    regional: N
    url: http://www.fosdem.org
    audience: OSS
    who: Charlie
    status: Submitted, likely to be accepted

  - name: Jfokus
    where: Stockholm, Sweden
    when: Feb 4-6, 2013
    regional: Y
    url: http://www.jfokus.se/
    audience: Java
    cfp: Completed in Sept 2012
    who: Charlie
    status: Invited, accepted

  - name: RubyConf Australia
    where: Melbourne, Australia
    when: Feb 20-22, 2013
    regional: Y
    url: http://rubyconf.org.au
    audience: Ruby
    cfp: N/A
    who: Charlie
    status: Submitted, accepted; travel assistance avail.

  - name: DevNexus
    where: Atlanta, GA
    when: February 18 - 19
    regional: Y
    url: http://devnexus.com/
    audience: Java    
    cfp: Open until 12/31

  - name: Clojure/West
    where: Portland, OR
    when: March 18 - 20
    regional: N
    url: http://clojurewest.org/
    audience: Clojure    
    sponsor: Y
    cfp: Open until 1/4
    who: Toby
    status: submitted

  - name: RailsConf
    where: Portland, OR
    when: April 29 - May 2
    regional: N
    url: http://railsconf.com/
    audience: Ruby    
    sponsor: Y
    status:

  - name: JRubyConf
    regional: N
    url: http://jrubyconf.com/
    audience: Ruby    
    sponsor: Y

  - name: JUDCon Boston
    where: Boston, MA
    when: June ?
    regional: N
    url: http://www.oscon.com/
    audience: Mixed
    cfp: Open until 2/4

  - name: Ruby Hoedown
    where: Nashville, TN
    regional: Y
    url: http://rubyhoedown.com
    audience: Ruby    

  - name: Barcelona RubyConf (BaRuCo)
    where: Barcelona, Spain
    when: Sept 14-15, 2013
    regional: Y
    url: http://www.baruco.org/
    audience: Ruby
    cfp: N/A
    who: Charlie
    status: Invited, accepted; travel + hotel covered

  - name: strange loop
    where: St. Louis, MO
    when: Sep 18 - Sep 20
    url: http://thestrangeloop.com/
    cfp: April
---

%style{:type => "text/css"}
  :sass 
    table
      font-size: 0.9em
      border-collapse: collapse
    table, th, td
      border: 1px solid black
    th
      background-color: wheat
    th, td
      padding: 0 5px
    strong
      font-weight: bold
      
- def or_q(v); v || "?"; end
    
%table
  %tr
    %th Name
    %th Location
    %th Dates
    %th Regional?
    %th URL
    %th Audience
    %th Should sponsor?
    %th Call For Papers
    %th Who Wants to Submit?
    %th Status
  
  - page.confs.each do |conf|
    %tr
      %td= conf.name
      %td= or_q(conf.where)
      %td= or_q(conf.when)
      %td= or_q(conf.regional)
      %td
        - if conf.url
          %a{:href=>conf.url}=conf.url
        - else
          ?
      %td= or_q(conf.audience)
      %td= or_q(conf.sponsor)
      %td= or_q(conf.cfp)
      %td= or_q(conf.who)
      %td= conf.status
      
